<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <table class="table table-hover">
        <thead>
        <tr class="bg-success">
          <th scope="col">SIT</th>
          <th scope="col">UAT</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Biz Growing</td>
          <td>Biz Growing</td>
        </tr>
        <tr>
          <td>Portal Admin</td>
          <td>Portal Admin</td>
        </tr>
        <tr>
          <td>CB Project</td>
          <td>CB Project</td>
        </tr>
        <tr>
          <td>CB Bank Support</td>
          <td>CB Bank Support</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

